#home header {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}



/* ========== CTA */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* ========= HEADER SOCIALS */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 10rem;
    width: 40px;
    border: 1px solid rgba(255, 255, 255, 0.303);
    padding: 10px;
    border-radius: 1rem ;
    background: rgba(0, 0, 0, 0.076);
    backdrop-filter: blur(15px);
}

.header__socials::after {
    content: '';
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
}

/* =========== ME */

.me {
    display: flex;
    margin: auto;
    justify-content: center;
}
.me img{
    
    background-color: black;
    width: 49rem;
    height: 30rem;
    margin-top: 2rem;
    border-radius: 2rem  ;
    border: 1px solid rgba(235, 235, 235, 0.36);
    box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 10px, rgba(0, 0, 0, 0.15) 0px 15px 12px;
}

/* ==== SCROLL DOWN */

.scroll__down {
    position: absolute;
    right:-2.3rem;
    bottom: 12rem;
    transform: rotate(90deg);
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.303);
    padding: 10px;
    border-radius: 1rem ;
    background: rgba(0, 0, 0, 0.076);
    backdrop-filter: blur(15px);
}

.introductionBanner{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5rem;
    background-color: var(--color-bg-variant);
    width: 50%;
    text-align: center;
}

.nameDeco {
    color: white;
	font-size: 40px;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}


/* ====== MEDIA QUERIES ==== */

/* LARGER DESKTOPS AND MONITORS */
@media all and (min-width:1201px)  and (max-width:1880px) {
    
}


/* LAPTOPS, LARGER TABLETS IN LANDSCAPE, AND SMALL DESKTOPS */
@media all and (min-width:769px) and (max-width:1024px) {
    
}

/* TABLETS & LARGER SMARTPHONES */
@media all and (min-width:481px) and (max-width:768px) {
    .introductionBanner{
        margin-top: 20px;
        border-radius: 2rem;
    }
    .me img{
        background-color: black;
        width: 40%;
        height: 40%;
        margin-top: 2rem;
        border-radius: 1rem  ;
        border: 1px solid rgba(235, 235, 235, 0.36);
        box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 10px, rgba(0, 0, 0, 0.15) 0px 15px 12px;
    }
}

/* SMALLER SMARTPHONES */
@media all and (min-width:320px) and (max-width:480px) {
    .introductionBanner{
        margin-top: 20px;
        border-radius: 2rem;
    }
    .me img{
        background-color: black;
        width: 40%;
        height: 40%;
        margin-top: 2rem;
        border-radius: 1rem  ;
        border: 1px solid rgba(235, 235, 235, 0.36);
        box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 10px, rgba(0, 0, 0, 0.15) 0px 15px 12px;
    }
} 